.distance-div {
  .deleteMessage {
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: 750px) {
      width: 90%;
    }
  }
  .regist-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;

    h1 {
      margin-bottom: 20px;
    }

    input {
      background-color: white;
      margin-bottom: 10px;
    }

    .regist_select {
      width: 217px;
      margin-bottom: 10px;
    }

    button {
      margin-bottom: 10px;
    }

    .checkbox-label {
      display: unset;
      text-align: center;

      input {
        margin-right: 5px;
      }
    }

    .error-text {
      margin-bottom: 10px;
    }
  }
}
